<!--"/shelter"-->

<h1>Marie's Animal Shelter</h1>
<h2>Employee Portal</h2>

<h3>Animal Search</h3>

<h3>Register</h3>
<br><a href="/shelter/registeranimal">Register Animal</a>
<br><a href="/shelter/registercustomer">Register Customer</a>

<br><a href="/">Homepaged</a></br>
